{
	"presets": ["proov"],
	"plugins": [
		"react-hot-loader/babel",
		"lodash"
	],
	"env": {
		"production": {
			"plugins": [
				["transform-react-remove-prop-types", {
					"removeImport": true
				}]
			]
		},
		"test": {
			"plugins": [
				"syntax-dynamic-import",
				"babel-plugin-dynamic-import-node"
			],
			"presets": [
				["proov", {
					"commonjs": true
				}]
			]
		}
	}
}
