{

	"extends": "eslint-config-proov-base",
	"rules": {
		"react/no-unsafe": "off"
	},
	"globals": {
		"globalize": true,
		"__DEV__": false,
		"__PROD__": false,
		"__DEVTOOLS__": false,
		"BUILD_TIME": false,
		"API_ROOT": false,
		"PA_ROOT": false,
		"PA_API_KEY": false,
		"GA_ID": false,
		"STRIPE_PK": false,
		"WALKME_URL": false,
		"MIXPANEL_ID": false
	},
	"settings": {
		"import/resolver": {
			"node": {
				"paths": ["src"]
			  },
			"webpack": {
				"config": "webpack.common.js"
			}
		},
		"react": {
            "version": "16.6.0"
        }
	}
}
